/* 

body{

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
/* header The Psychic Game */
#header{
    text-align: center;
    background-image: url("../images/english-alphabet.jpg");
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    border-bottom: solid 2px #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    
    
    }
    
    /* Title  "Guess what letter I'm thinking of"*/
    #liHeader{
        text-align: center;
        padding-bottom: 20px;
        color: #ffffff;
        
    }
    
    /* header title The Psychic Game */
    #headtext{
        background-color: #871103;
        margin-left: 37%;
        margin-right: 37%;
    }
    
    /* footer */
    footer{
        padding: 1em;
        text-align: center;
        font-size: 1em;
        color: #cccccc;
        background-color: #666666;
        border-top: 8px solid #4aaaa5;
    }
    
    /* *********background animation*******  */
    
    body{
        background-color: #000000;
      padding: 0px;
      margin: 0px;
    }
    
    #gradient
    {
     width: 100%;
     height: 800px;
     padding: 0px;
     margin: 0px;
    }
    /* *********background animation*******  */
    
    /*   Game result list */
    .list-group{
        margin-bottom: 30px;
    }
    
    /* ***Coming Soon!!!***  */
        .d-block{
            /* height: 250px; 
        height: 250px; 
            height: 250px; 
        height: 250px; 
            height: 250px; 
        /* height: 250px;  */ 
            height: 200px; 
        }
        /* .carousel-inner{
            margin-bottom: 20px;
            padding-bottom: 20px;
        } */
    
        #text{
            text-align: center;
            color: #ffffff;
            padding-bottom: 20px;
        }
        /* ***Coming Soon!!!***  * */
    